@import 'tailwindcss';
@import './styles/animations.css';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/FiraSans-Regular.woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/FiraSans-Medium.woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/FiraSans-Bold.woff2');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/FiraMono-Regular.woff2');
}

@theme {
  --color-primary-50: #e5f2ff;
  --color-primary-100: #cce5ff;
  --color-primary-200: #99ccff;
  --color-primary-300: #66b2ff;
  --color-primary-400: #3399ff;
  --color-primary-500: #007fff;
  --color-primary-600: #0066cc;
  --color-primary-700: #004c99;
  --color-primary-800: #003366;
  --color-primary-900: #001933;
  --color-primary-950: #001224;

  --color-neutral-50: #f0f0f0;
  --color-neutral-100: #e0e0e0;
  --color-neutral-200: #cccccc;
  --color-neutral-300: #b8b8b8;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #8f8f8f;
  --color-neutral-600: #7a7a7a;
  --color-neutral-700: #666666;
  --color-neutral-800: #525252;
  --color-neutral-900: #3d3d3d;
  --color-neutral-950: #292929;

  --font-display: 'Fira Sans', sans-serif;
  --font-mono: 'Fira Mono', monospace;

  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;

  --animate-show-left: show-left 0.3s ease-out;
  @keyframes show-left {
    from {
      opacity: 0;
      transform: translate3d(-20px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  --animate-blink: blink 1s step-start infinite;
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

.layout-grid {
  @apply grid col-span-full mx-auto max-w-140 box-border gap-5 laptop:grid-cols-12 laptop:max-w-full laptop:pt-0;
}

.section {
  @apply pt-10 bg-white dark:bg-primary-900;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  section {
    scroll-margin-top: 6rem;
  }
}
